$primary-color: #890f3a;
$secondary-color: #000000;
$heart-color: $primary-color;

$button-bg-color: $primary-color;
$button-text-color: #ffffff;
$button-border-color: transparent;
$button-hover-bg-color: #440018;
$button-hover-text-color: $button-text-color;
$button-hover-border-color: $button-bg-color;

$font-standard: 'Raleway', sans-serif;
$font-primary-heading: 'Great Vibes', cursive;
$font-heading: $font-primary-heading;
