.countdown-col {
  display: inline-block;
}

.countdown-col-element {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  font-family: 'Raleway';
}

.countdown-col-element-number {
  font-size: 40px;
  font-family: 'Lato';
}
